/* ============== Overall ============== */

html
	{
	padding:0;
	}

body
	{
	font:13px Segoe UI, Verdana, Arial, sans-serif;
	background-color:#c5ccd2;
	margin:0;
	padding:0;
	color:#454545;
	text-align:left;
	background-image:url(img/bg.png);
	background-position:top left;
	background-repeat:no-repeat;	
	}

body.mceContentBody { background: #FFFFFF; }

a 			{ text-decoration:none; border-width:0; color:#5e6a82; }
a:hover 	{ text-decoration:underline; }

h1 	{ font-size:160%; border-bottom:1px solid #DDDDDD; }
h2 	{ font-size:140%; font-weight:bold; border-bottom:1px dotted #909090; }
h3 	{ font-size:120%; font-weight:normal; margin:0.5em 0 0.3em 0; }
h4 	{ font-size:110%; font-weight:normal; margin:0.5em 0 0.3em 0; }
h5 	{ font-size:95%; }
h6 	{ font-size:90%; }

h1 a { color:#303030; }
h2 a { color:#303030; }
h3 a { color:#303030; }


.bbstyle1	{ font-size:160%; font-weight:bold; }
.bbstyle2	{ font-size:130%; font-weight:bold; }
.bbstyle3	{ font-size:120%; font-weight:bold; }
.bbstyle4	{ font-size:110%; font-weight:bold; }
.bbstyle5	{  }
.bbstyle6	{  }
.bbstyle7	{  }
.bbstyle8	{  }
.bbstyle9	{  }

#header_back
	{
	padding:0;
	margin:0;
	margin:0 auto;
	text-align:left;
	width:100%;
	}

#header
	{
	padding:0;
	width:870px;
	margin:0 auto;
	text-align:left;
	}

#nav
	{
	font-size:180%;
	margin:0;
	padding:0;
	text-align:right;
	letter-spacing:-2px;
   	}

#nav a
	{
	color:#FFFFFF;
   	}

#nav a:hover
	{
	text-decoration:none;
	}

#nav ul
	{
    padding:0;
    margin:0;
	}

#nav li
	{
	display:inline;
	list-style:none;
	padding:2px 0 2px 16px;
	margin:0;
	}

#user
	{
	margin:0;
	padding:0;
	color:#808080;
	text-align:right;
	font-size:90%;
	}

#user a
	{
	color:#74819a;
	}

#user ul
	{
	padding:2px;
	margin:0;
	}

#user li
	{
	display:inline;
	list-style:none;
	margin:0;
	padding:3px;
	}

#container
	{
	padding:32px 0 0 0;
	width:870px;
	margin:0 auto;
	text-align:left;
	}


#title_back
	{
	padding:0;
	margin:0;

	}

#title
	{
	padding:0;
	margin:0;
	font-size:140%;
	font-weight:bold;
	color:#303030;
	border-bottom:1px dotted #909090;
	}

#title a
	{
	color:#303030;
	}

#subtitle
	{
	padding:0;
	margin:0 0 16px 0;
	vertical-align:top;
	}

#main
	{
	margin:32px 0 8px 0;
	vertical-align:top;
	padding:0;
	}

#adminmenu
	{
	margin:0;
	padding:0;
	}

#footer
	{
	padding:64px 0 0 0;
	margin:0 auto;
	font-size:90%;
	text-align:center;
	width:870px;
	}


.subforums ul {
  list-style:none;
  margin:0;
  padding:10px 0;
}

.subforums ul li {
  display:inline;
  background: url(img/system/subforums.gif) top left no-repeat;
  padding-left:20px; 
  height:20px;
}

/* ============== Various ============== */

.disp		{ padding:12px; margin:0; }
.block		{ padding:16px; margin:16px; border:1px dashed #A9A9A9; }
.error		{ padding:48px; margin:0; color:#CC1212; font-size:120%; text-align:center; }
.codetitle	{ font-size:10px; color:#59739B; padding:2px; margin-top:5px; }
pre 		{  color:#59739B; background-color:#EFF0C2; padding:4px; margin:4px; font-family:monospace; }
blockquote 		{  color:#59739B; background-color:#E4E4E4; padding:8px; margin:24px; }
.valid 		{ height:48px; text-align:center; vertical-align:middle; }
.submit 	{ text-align:center; }
.download 	{ font-size:110%; text-align:center; background-color: #E8E8E8; padding:16px; margin-top:16px; }
.paging		{ text-align:center; padding:8px; width:100%; }
.paging_left	{ text-align:left; padding:4px; width:30%; }
.paging_center	{ text-align:center; padding:4px; width:40%; }
.paging_right	{ text-align:right; padding:4px; width:30%; }
.coltop		{ text-align:center; font-size:95%;  background-color:#d8dee2!important; color:#707070; }
.centerall 	{ text-align:center; vertical-align:middle; }
.desc 		{ font-size:90%; padding:3px; color:#646464; }
.spoiler	{ padding:8px; margin:8px; border:1px dashed #CCCCCC; background-color:#DBE5E9; }
.more 		{ font-size:90%; margin-left:8px;}
.odd		{ background-color:#ced4d8!important; }
.even		{ background-color:#d7dcdf!important; }

ul 			{ list-style-type:square; }
li 			{ margin:2px; }

img			{ border-width:0; }
form		{ margin:0; }
.colleft	{ float:left; margin:0px 4px 0px 4px; }
.colright	{ float:right; margin:0px 4px 0px 4px; }
.bar_front 	{ background-color:#D696B6; border-right:0px solid #333333; padding:0; color:#DDDDDD; height:8px; }
.bar_back 	{ background-color:#EBECF1; border:1px solid #333333; margin:0 7px 0 7px; height:8px; }
.bbcodes a img { border:1px outset #A0A0A0; background-color:#999BAC; }
.smilies a img { border:0; background-color:transparent; }
.signature 		{ color:#979797; font-size:90%; max-height:96px; overflow:auto; margin-top:16px;}
.signature a	{ color:#000000; }

.fhead 	{ font-size:140%; margin:0; letter-spacing: -1px; font-weight:normal; background-color:#FFCC00;}
.fblock	{ background-color:#FF0000; }

.positive { color:#539f51; }
.neutral  { color:#8d8d8d; }
.negative { color:#d73819; }

/* ============== Tables ============== */

table td 		{ vertical-align:top; }
table.flat		{ width:99%; margin:0; padding:0; border-collapse:collapse; }
table.flat td 	{ padding:0; margin:0}
table.main 		{ width:99%; margin:0; padding:4px; }
table.main td 	{ padding:4px; }
table.cells 	{ width:99%; margin:0; padding:0; }
table.cells td	{ padding:6px; background-color:#ced4d8; margin:0; }
table.list 		{ width:99%; margin:0; padding:5px; }
table.list td 	{ padding:12px; }