Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On

#RewriteBase /

## -- Redirect from http to https
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
 
# XML
RewriteRule ^sitemap.xml?$	sitemap.php  [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#resizing_image
RewriteRule ^datas/(.+)/(.+) resize/resize.php?object=$1&file=$2&token=%{QUERY_STRING}

## --
RewriteCond %{REQUEST_FILENAME} -d [OR] 
RewriteCond %{REQUEST_FILENAME} -f [OR] 
RewriteCond %{REQUEST_FILENAME} -l 
#RewriteRule ^(datas.*) sefurls.php
RewriteRule ^(.*)$ - [NC,L] 
RewriteRule ^(.*)$ sefurls.php [QSA,L]   
</IfModule>
