/* ============= Fuchsia color theme ================ */

a, a:visited {
		color: #ce2daa; 
}
a:hover, a:focus { color: #888; }

#top-line {
	background: #ce2daa;
}

#nav ul li a:hover {
	background: #ce2daa; 
	background: -moz-linear-gradient(top, #ff00ff 0%, #ce2daa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff00ff), color-stop(100%, #ce2daa));
	background: -webkit-linear-gradient(top, #ff00ff 0%, #ce2daa 100%);
	background: -o-linear-gradient(top, #ff00ff 0%, #ce2daa 100%);
	background: -ms-linear-gradient(top, #ff00ff 0%, #ce2daa 100%);
	background: linear-gradient(to bottom, #ff00ff 0%, #ce2daa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ce2daa', GradientType=0);
}

#scroll-top-top a {
	background-color: #ce2daa;
}

#bolded-line {
	background: #ce2daa;
}

.rec-date {
	background-color: #ce2daa!important;
}

.bar_front {
	background-color: #ce2daa;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #ce2daa;
  box-shadow: 0 0 0 2px rgba(139, 0, 139, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.check_list li { background: url("img/list/f_list_check.png") no-repeat 0 50%; padding: 0 0 0 18px }
.plus_list li { background: url("img/list/f_list_plus.png") no-repeat 0 50%; padding: 0 0 0 18px }
.minus_list li { background: url("img/list/f_list_minus.png") no-repeat 0 50%; padding: 0 0 0 18px }
.star_list li { background: url("img/list/f_list_star.png") no-repeat 0 50%; padding: 0 0 0 16px }
.arrow_list li { background: url("img/list/f_list_arrow.png") no-repeat 0 50%; padding: 0 0 0 16px }
.square_list li { background: url("img/list/f_list_square.png") no-repeat 0 50%; padding: 0 0 0 16px }
.circle_list li { background: url("img/list/f_list_circle.png") no-repeat 0 50%; padding: 0 0 0 16px }
.cross_list li { background: url("img/list/f_list_cross.png") no-repeat 0 50%; padding: 0 0 0 16px }