/**
 * Seditio Plugins & Components Styles
 * 1. SedMenu (Mobile Sliding Navigation)
 */

:root {
  /* Mobile Menu */
  --plugin-menu-bg: #ffffff;
  --plugin-menu-border: #f7f2f2;
  --plugin-menu-text: #333333;
  --plugin-menu-hover-bg: #ff8c0b;
  --plugin-menu-hover-text: #ffffff;
  --plugin-menu-header-bg: #f2f2f2;
  --plugin-menu-header-text: #d8d8d8;
  --plugin-menu-back-bg: #eaeaea;
  --plugin-menu-sub-text: #014e9f;
}

/*-------------------------*/
/***** 1. NATIVE MOBILE MENU (SedMenu) *****/
/*-------------------------*/

.sed-menu {
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-align: left;
  background-color: var(--plugin-menu-bg);
}

.sed-menu > ul,
.sed-menu-list {
  left: 0;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.sed-menu ul,
.sed-menu li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.sed-menu ul {
  width: 100%;
  font-size: 1em;
}

.sed-menu li {
  line-height: 1;
  font-weight: 600;
  border-bottom: 1px solid var(--plugin-menu-border);
}

.sed-menu li.sed-menu-sub {
  font-weight: 600;
}

.sed-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.sed-menu a:focus {
  outline: none;
}

.sed-menu a:not(.sed-menu-back) {
  color: var(--plugin-menu-text);
  padding: 1em;
}

.sed-menu li.sed-menu-sub > a {
  color: var(--plugin-menu-sub-text) !important;
}

.sed-menu a:not(.sed-menu-back):hover,
.sed-menu a:not(.sed-menu-back):active {
  background-color: var(--plugin-menu-hover-bg);
  color: var(--plugin-menu-hover-text) !important;
}

.sed-menu a span {
  flex: 1;
  line-height: 1.4;
}

.sed-menu li ul {
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
}

.sed-menu .sed-menu-header {
  display: flex;
  background-color: var(--plugin-menu-header-bg);
}

.sed-menu .sed-menu-header .sed-menu-title {
  flex: 1;
  line-height: 1.4;
  margin: 0;
  order: 1;
  color: var(--plugin-menu-header-text);
  padding: 1em;
}

.sed-menu a.sed-menu-back {
  width: 50px;
  background: var(--plugin-menu-back-bg);
  text-align: center;
}

.sed-menu .sed-menu-next::after,
.sed-menu .sed-menu-back::before {
  background: url("../img/next.svg") center center no-repeat;
  background-size: 1em;
  content: '';
  height: 1em;
  opacity: 0.25;
  transition: opacity 200ms;
  width: 1em;
}

.sed-menu .sed-menu-next::after {
  margin-left: 1em;
}

.sed-menu .sed-menu-back::before {
  padding: 1.7em;
  transform: scaleX(-1);
}

.sed-menu .sed-menu-next:hover::after,
.sed-menu .sed-menu-back:hover::before {
  opacity: 0.75;
}

.sed-menu .sed-menu-next:active::after,
.sed-menu .sed-menu-back:active::before {
  opacity: 1;
}

.sed-menu a:not(.sed-menu-back):hover::after,
.sed-menu a:not(.sed-menu-back):hover::before {
  background-image: url("../img/next.svg");
}
